<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PENDO STORE</title>
  <%- include('_css') %>
</head>
  <body style="background-color:burlywood;">
    <div class="container mt-5" style="text-align: center;">
        <div class="row mt-5">
            <div class="col-md-5 mx-auto">
                <h1>PENDO STORE</h1>
              <a class="btn btn-primary" href="/login">LOGIN</a>
              <a class="btn btn-primary" href="/register">REGISTER</a>
            </div>
        </div>
    </div>
  </body>
</html>